#
# list your environment variables here 
#
# import os
#
# os.environ.setdefault("DEBUG", "")
# os.environ.setdefault( "SECRET_KEY", "",)

DEBUG=DEBUG
SECRET_KEY=SECRET_KEY
DATABASE_URL=DATABASE_URL
HEROKU_HOSTNAME=HEROKU_HOSTNAME