{% extends "base.html" %}

{% block title %}Keep on Walking{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>

	<form action="/activities/" method="post">
    {% csrf_token %}
    {{ garmin_form }}
    <input type="submit" value="Submit">
	</form>


	<h1>Your activities</h1>
	{% for garmin_row in garmin_data %}

		{% if garmin_row.user.username == user.username %}
		<ul>
			<li>
				<span class='garmin-id'> id : {{  garmin_row.id }}  </span> {{ garmin_row.date}} : {{ garmin_row.user.username}} -  {{ garmin_row.steps }} steps -  weight : {{ garmin_row.weight_kg }} (kg) 
					<button class="btn btn-secondary edit-button" data-id='{{  garmin_row.id }}'>Edit</button>
					<button class="btn btn-danger delete-button" data-id='{{  garmin_row.id }}'>Delete</button>
			 </li>
		</ul>
		{% endif %}

	{% endfor %}


	<!-- Modal from Bootstrap documentation-->
	<!-- https://getbootstrap.com/docs/4.2/components/modal/#modalshow-->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">Delete Activity</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Do you want to delete the Garmin entry with the ID : <span id='delete-id'></span> ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}


{% block javascript %}

{% load static %}

<script src= {% static  'scripts/activities.js'  %}></script>

{%  endblock %}



