{% extends "base.html" %}

{% load tailwind_filters %}


{% load widget_tweaks %}

{% block title %}Keep on Walking{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="sm:py-16 py-10 px-4 "> 
  <div class="px-4 w-full mx-auto " style='max-width:79ch '>

			<p class='text-blue-400 font-semibold text-lg'>Hi {{ user.username }}!</p>

			<h1 class = 'text-blue-700 text-4xl font-bold py-4 '> <span><i class="fa-solid fa-table-columns"></i> </span> Dashboard</h1>
			
			<!-- small form to allow user syncing data with Garmin watch--> 
			<div class='bg-blue-200 px-4 py-8 rounded-2xl shadow-lg mt-2 mb-8'>

				<div>
					<h2 class='py-1 text-blue-800 font-semibold font-xl'>Load activities from your Garmin account</h2>
				</div>

				<div class='pt-4 block'>


					<form hx-post=" {% url 'load_activities' %}" hx-target='#activities-list'  >

						{% csrf_token %}
						{{ garmin_form |crispy }}

						<button class='px-10 py-3 mt-4  text-blue-50 bg-blue-800 hover:bg-blue-300  hover:text-blue-800 rounded shadow' type="submit">Sync</button>

					</form>

				</div>

			</div>
			


			<div id='activities-list'>
				{% include "partials/activities.html" %}
			</div>
		</div>
	</div>


<div class="sm:pb-20 pb-16 px-4 "> 
  <div class="px-4 w-full mx-auto " style='max-width:79ch '>

			<h2 class = 'text-blue-600 text-2xl font-bold py-4 '><span> <i class="fa-solid  fa-circle-check"> </i> </span> Your Summary </h2>
			<p>Here goes a summary based on the previous month. Will be done in javascript.</p>
			<ul class='list-disc px-4 py-4 leading-loose'>
				<li> <span class='text-blue-600 '>BMI</span> : Good job. In the last months, you have maintained a healthy BMI. Keep on walking! </li>
				<li> <span class='text-blue-600 '>Average Weight</span>: You average weight this month was <span class='text-bold text-blue-500'> 75.1 kg<span> </li>
				<li><span class='text-blue-600 '>Happniess</span> : Your average rating was <span class='text-bold text-blue-500'> 1.4 </span>. Last month the rating was  <span class='text-bold text-blue-500'> 1.1 <span>  </li>
			</ul>
	</div>
</div>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}


{% block javascript %}

{% load static %}

<script src= {% static  'scripts/activities.js'  %}></script>

{%  endblock %}



