{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Keep on Walking{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div style='max-width:var(--max-page-width)' class='mx-auto bg-blue-50'>
  <div class='font-sans '>
    <div class="flex "> 
      <div class="w-full lg:w-1/2 bg-blue-200 sm:px-16 px-4  pt-8 pb-16 sm:mt-5 sm:mx-16 sm:rounded-2xl ">
					<h1 class = 'text-blue-900 text-4xl font-bold py-4 '> <span><i class="fa-solid fa-heart-pulse"></i> </span> Your Profile</h1>
					<p class='pt-1 pb-4 text-gray-600 sm:text-lg font-normal' style='line-height:1.6; max-width:60ch'> Here you can find all the information stored about you. Keep these information accurate, so that your BMI is calculated correctly according to your age and height.</p>
					<!-- small form to allow user syncing data with Garmin watch--> 
					<div class='pt-8 pb-6'> 
						<div id='user-profile-info'>
							{% include 'partials/profile_details.html' %}
						</div>
					</div>
				<p class='text-gray-600 text-sm pb-16'> We recommend keeping your data accurate - it will keep the calculation of the BMI correct.</p>	
			</div>
		</div>
	</div>
</div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}

{% block javascript %}

{% load static %}

<script src= {% static  'scripts/activities.js'  %}></script>

{%  endblock %}



