


<h2>Your activities</h2>

{% if garmin_data %}
			
<ul>
			{% for garmin_row in garmin_data %}
						<li>
							<span class='garmin-id'> id : {{  garmin_row.id }}  </span> {{ garmin_row.date}} : {{ garmin_row.user.username}} -  {{ garmin_row.steps }} steps -  weight : {{ garmin_row.weight_kg }} (kg) 	
							<a class='badge badge-secondary edit-button' style='cursor: pointer;' data-id="{{ garmin_row.id }}" href='edit_activity/{{ garmin_row.id}}'>Edit</a>
							<a class='badge badge-danger delete-button' style='cursor: pointer;' data-id="{{ garmin_row.id }}" href='delete_activity/{{ garmin_row.id}}'>X</a>
						</li>
			{% endfor %}
</ul>

{% else  %}

<p>No activities to display</p>

{%  endif %}
	
