<h2 class="pt-4 text-2xl font-bold text-blue-600">
  <span> <i class="fa-solid fa-person-walking"> </i> </span> Your walks 
</h2>
<p class='pt-1 pb-4 text-blue-500  sm:text-lg font-normal' style='line-height:1.6'> See your latest walks below. </p>

{% if garmin_data %} 

		{% for garmin_row in page_obj %}

				<div class="grap-y-3 flex px-0 py-1">

					<div class="px-4 py-2 flex flex-1 flex-row  sm:gap-x-4  justify-between align-center bg-blue-200 sm:rounded-x; rounded-lg shadow-md">


						<div class='flex flex-col sm:flex-row sm:gap-x-4  justify-center gap-y-1'> 

							<div class=" pl-2 sm:text-sm text-xs font-semibold text-gray-500 flex flex-col justify-center">
								{{ garmin_row.date}}
							</div>
	
							<div class=" text-gray-700 font-bold  sm:text-lg flex flex-row items-center ">
								 <i class="fa-solid fa-shoe-prints text-blue-500 font-normal sm:pr-2"> </i> {{ garmin_row.steps}}
							</div>
						</div>
						

						<div class="font-normal text-gray-600  hidden sm:flex flex-row items-center">
							{{ garmin_row.weight_kg}} kg
						</div>

						<div class="font-normal text-gray-600 text-3xl block">
							<span
								class="badge rate-good-button {% if garmin_row.rating == 2 %} text-emerald-500 text-green-50 {% else %}  text-blue-500 text-blue-50 opacity-50 {% endif%}",
								style="cursor: pointer"
								hx-post=" {% url 'rate_good' garmin_row.id %} "
								hx-target="#activities-list"
								>
								{% if garmin_row.rating == 2 %} <i class="fa-solid fa-face-smile  "> {% else %} <i class="fa-regular fa-face-smile">  {% endif%}
								</i></span>
							<span
								class="badge rate-neutral-button {% if garmin_row.rating == 1 %} text-amber-600 text-green-50  {% else %} text-blue-500 text-blue-50 opacity-50 {% endif%}",
								style="cursor: pointer"
								hx-post=" {% url 'rate_neutral' garmin_row.id %} "
								hx-target="#activities-list"
								>	{% if garmin_row.rating == 1 %} <i class="fa-solid fa-face-smile  "> {% else %} <i class="fa-regular fa-face-smile">  {% endif%}</i></span>

							<span
								class="badge rate-bad-button {% if garmin_row.rating == 0 %} text-red-600 text-blue-50 {% else %} text-blue-500 text-blue-50 opacity-50 {% endif%}",
								style="cursor: pointer"
								hx-post=" {% url 'rate_bad' garmin_row.id %} "
								hx-target="#activities-list">
								{% if garmin_row.rating == 0 %} <i class="fa-solid fa-face-smile  "> {% else %} <i class="fa-regular fa-face-smile">  {% endif%}</i></span>	
						</div>


						<div class='flex flex-col justify-center gap-y-1'> 
								<div class='flex flex-col flex-nowrap gap-x-4'> 
									<div class="font-normal text-blue-700 flex flex-col justify-center">
										<a
											class="badge badge-secondary edit-button"
											style="cursor: pointer"
											data-id="{{ garmin_row.id }}"
											href="edit_activity/{{ garmin_row.id}}"><i class="fa-solid fa-wrench"></i>
										</a>
									</div>
			
									<div class="text-xl font-bold text-red-500 flex flex-col justify-center">
										<span
											class="badge badge-danger delete-button"
											style="cursor: pointer"
											data-id="{{ garmin_row.id }}"
											hx-delete="{%  url 'delete_activity' garmin_row.id %} "
											hx-target="#activities-list"
											hx-confirm="Are your sure to delete?">X</span>
									</div>
								</div>
						</div>
						

					</div>
				</div>

		{% endfor %} 


		<div class='pt-10 flex flex-row justify-center items-center'>
			<div class="pagination">
				<span class="step-links">

						{% if page_obj.has_previous %}
								<a class='bg-blue-100 text-blue-700 px-3 py-2 rounded-lg hover:text-blue-100 hover:bg-blue-700' href="?page=1">&laquo; first</a>
								<a class='bg-blue-100 text-blue-700 px-3 py-2 rounded-lg hover:text-blue-100 hover:bg-blue-700' href="?page={{ page_obj.previous_page_number }}">previous</a>
						{% endif %}
			
						<span class="current text-blue-500 text-xl pr-2 sm:pr-4 ">
								Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
						</span>
			
						{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}" class='bg-blue-100 text-blue-700 px-3 py-2 rounded-lg hover:text-blue-100 hover:bg-blue-700'>next</a>
								<a href="?page={{ page_obj.paginator.num_pages }}" class='bg-blue-100 text-blue-700 px-3 py-2 rounded-lg hover:text-blue-100 hover:bg-blue-700'>last &raquo;</a>
						{% endif %}
				</span>
			</div>

		</div>
		
		

{% else %}

<p>No activities to display</p>

{% endif %}
