


<h2>Your activities</h2>

{% if garmin_data %}
			
<ul>
			{% for garmin_row in garmin_data %}
						<li>
							<span class='garmin-id'> id : {{  garmin_row.id }}  </span> {{ garmin_row.date}} : {{ garmin_row.user.username}} -  {{ garmin_row.steps }} steps -  weight : {{ garmin_row.weight_kg }} (kg) 	
								
							<span class="badge rate-good-button  {%  if  garmin_row.rating == 2 %} badge-success  {% else %}  badge-secondary  {% endif%}",
										style='cursor: pointer;' 
										hx-post=" {% url 'rate_good' garmin_row.id %} "
										hx-target='#activities-list'
							>Good</span>
							<span 
									class="badge rate-neutral-button  {%  if  garmin_row.rating == 1 %} badge-info  {% else %}  badge-secondary  {% endif%}",
									style='cursor: pointer;' 
									hx-post=" {% url 'rate_neutral' garmin_row.id %} "
									hx-target='#activities-list'
							>Neutral</span>

							<span 
									class="badge rate-bad-button  {%  if  garmin_row.rating == 0 %} badge-warning  {% else %}  badge-secondary  {% endif%}",
									style='cursor: pointer;' 
									hx-post=" {% url 'rate_bad' garmin_row.id %} "
									hx-target='#activities-list'
							>Bad</span>

							<a 
							class='badge badge-secondary edit-button' 
							style='cursor: pointer;' 
							data-id="{{ garmin_row.id }}" 
							href='edit_activity/{{ garmin_row.id}}'>Edit
							</a> 
			
							<span 
									class='badge badge-danger delete-button' 
									style='cursor: pointer;' 
									data-id="{{ garmin_row.id }}" 
									hx-delete= "{%  url 'delete_activity' garmin_row.id %} "
									hx-target= '#activities-list'
									hx-confirm = 'Are your sure to delete?'>Delete
							</span>
		
						</li>
			{% endfor %}
</ul>

{% else  %}

<p>No activities to display</p>

{%  endif %}
	
