{% load tailwind_filters %}


<!-- https://github.com/saadeghi/daisyui/issues/338 to fix the daisy UI error of dark form background -->
<!-- https://www.youtube.com/watch?v=_B_GnVr43kY&list=PL-2EBeDYMIbRByZ8GXhcnQSuv2dog4JxY&index=19 
Django and HTMX #16 - Click to Edit pattern (adapted from there)-->

<form class=' text-blue-100 text-normal bg-transparent' hx-put="{% url 'user_profile' user.id %}" hx-target='#user-profile-info'>

  {% csrf_token %}
  {{profile_form | crispy }}

  <div class='py-8'>
    <input type="submit" class='btn  bg-blue-700 hover:bg-blue-500 text-blue-50  btn-md uppercase'>

  </div>
 
</form>


