
<h2 class = 'text-blue-900 text-2xl font-bold pt-1 pb-3'><span> <i class="fa-solid  fa-circle-check"> </i> </span> Details </h2>

{% if user_profile %}

<!-- using DaisyUI table component https://daisyui.com/components/table/ -->
<div class='w-full  md:w-2/3 lg:w-full'>
  <div class="overflow-x-auto text-blue-900 ">
    <table class="table text-blue-900">
      <!-- head -->
      <thead>
        <tr>
          <th class='text-gray-700 text-lg font-semibold'>Description</th>
          <th class='text-gray-700 text-lg font-semibold'>Value</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <div>
                  <p class='text-base font-bold'>Birthday</p>
              </div>
            </div>
          </td>
          <td class="text-base font-semibold"> 
            <p id='profile-birthday'>
              {{ user_profile.birthday }}
            </p> 
          </td>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <div>
                  <p class='text-base font-bold'>Height / cm</p>
              </div>
            </div>
          </td>
          <td class="text-base font-semibold">
            {{ user_profile.height_cm }}
          </td>
        </tr>
        <!-- row 3 -->
        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <div >
                  <p class='text-base font-bold'>Step Goal</p>
              </div>
            </div>
          </td>
          <td class="text-base font-semibold">
            {{ user_profile.step_goal }}
          </td>
        </tr>
        <!-- row 3 -->
        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <div>
                  <p class='text-base font-bold'>Start Date</p>
              </div>
            </div>
          </td>
          <td class="text-base font-semibold">
            {{ user_profile.start_date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id='profile-messages'>
    {% include 'partials/toast.html'%}
</div>

<div id='edit-profile'></div>
<div class='py-4 '>
  <span class="btn  bg-blue-700 hover:bg-blue-300 hover:text-blue-700 text-blue-50  btn-md uppercase" data-hx-get="{% url 'edit_profile' user.id %}" data-hx-target='#user-profile-info'> Edit </span>
  <!-- Modal taken from DaisyUI components  https://daisyui.com/components/modal/ -->
  <button class="btn  bg-blue-50 hover:bg-red-400 hover:text-blue-50 text-red-700  btn-md uppercase" onclick="my_modal_1.showModal()">Delete</button>
  <dialog id="my_modal_1" class="modal">
    <div class="modal-box" id='delete_message'>
      <h3 class="font-bold text-lg">Confirm Deleting your Profile</h3>
      <p class="py-4" >Are your sure to delete your Profile? This action cannot be undone.</p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          {% csrf_token %}
          <button class="btn" aria-label='Close'>Close</button>
          <button 
                class='btn bg-red-500 hover:bg-red-300 hover:text-red-70 text-red-50' 
                data-hx-delete="{% url 'delete_profile' user.id %}"  
                data-hx-target='#delete_message' 
                aria-label='Confirm Delete (cannot be made undone)'
                > Confirm </button>
        </form>
      </div>
    </div>
  </dialog>
</div>

{% else %}

<p>No profile to display</p>

{%  endif %}