<!-- based on : 
HTMX, AlpineJS and Django Messages - Adding Toast / Alert messages in HTMX Responses
https://www.youtube.com/watch?v=T7TgfRiRb10
-->

{% if messages %}

<!-- using AlpineJS to allow the user to dismiss the toast -->
<div x-data="{dismissed: false}" x-show='!dismissed'>
  <div style='animation: fadeOut 4s;' class="toast toast-top toast-center" id='message-toast'>
    {% for message in messages %}

      {% if message.tags == 'alert-success'%} 
        <div class="alert alert-success py-2 px-5  text-gray-800 font-bold rounded-lg">
          <span>{{ message }}  <button 
            @click='dismissed=true'
            class=" text-green-800 bg-blue-50 px-4 ml-4 
             hover:bg-green-300  hover:text-green-800 rounded shadow inline-block"
            aria-label='Close banner' >
            X
        </button></span>
        </div>
      {% elif message.tags == 'alert-error'%} 
        <div class="alert alert-error  py-2 px-5  text-gray-800 font-bold rounded-lg ">
          <span>{{ message }}<button 
            @click='dismissed=true'
            class=" text-red-800 bg-blue-50 px-4 ml-4 
             hover:bg-red-300  hover:text-red-800 rounded shadow inline-block"
            aria-label='Close banner'>
            X
        </button></span>
        </div>
      {% endif %}

     

    
    {% endfor %}

  </div>
</div>


{% endif %}

