{% extends "base.html" %}

{% load static %}

{% block title %}Keep on Walking{% endblock %}


{% block header %}


{% endblock %}


{% block content %}

<div class='font-sans bg-blue-200 px-6 py-7'>
  <div class='flex flex-col pb-8 sm:pb-16'>

      <h1 class='text-5xl w-2/3 pt-8 sm:font-extrabold text-blue-900' style='line-height: 0.9'>Keep on Walking</h1>

      <p class='text-lg py-4 sm:w-1/2 w-full text-gray-800'> Research shows* that 7000 daily steps reduce weight and improve happiness. </p>
     
      <div class='md:flex md:w-1/2 '>
        {% if user.is_authenticated %}
          <a  href="{% url 'activity_home' %}" class=' bg-blue-800 text-blue-100 text-bold w-full block md:inline-block text-center mb-2 py-2 md:mr-2 rounded-md'> Go to your Dashboard</a>
          <a  href="{% url 'logout' %}" class='bg-blue-400 text-blue-800 text-bold w-full block md:inline-block text-center mb-8 md:mb-2 md: py-2 rounded-md ' > Logout</a>
        {% else %}
          <a  href="{% url 'signup' %}" class=' bg-blue-800 text-blue-100 text-bold w-full block md:inline-block text-center mb-2 py-2 md:mr-2 rounded-md'> Sign Up Now</a>
          <a  href="{% url 'login' %}" class='bg-blue-400 text-blue-800 text-bold w-full block md:inline-block text-center mb-8 md:mb-2 md: py-2 rounded-md ' > Login</a>
        {% endif %}

      </div>

      <button class="block"  > </button>
      <button class=" text-gray-800 block"> </button>
      

  </div>
 
</div>



{% endblock %}